aniso8601==9.0.1
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-Cors==5.0.0
Flask-RESTful==0.3.10
flask-swagger-ui==4.11.1
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
packaging==24.1
psycopg2==2.9.10
python-dotenv==1.0.1
pytz==2024.2
six==1.16.0
Werkzeug==3.1.2
